<!DOCTYPE html>

<html lang="en" ng-app>
    <head>
        <meta charset="utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.min.js"></script>
        <script src="Script.js"></script>
        <title>Simple Input Box</title>
    </head>
    <body>
        <div class="container" ng-controller="gameList">
            <input type="text" class="game" ng-model="gameName">
            <ol>
                <li ng-repeat="game in games"><span>{{game.name}}</span></li>
            </ol>
        </div><!--container-->
    </body>
</html>
